<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SQLite Tools" Language="1033" Version="$(env.SQLITEVERS)" Manufacturer="www.sqlite.org" UpgradeCode="140EB512-2D8D-4D31-BE2A-4C9567251162">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" Description="SQLite Tools $(env.SQLITEVERS)" Comments="Command-line tool for managing SQLite database files" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{140EB512-2D8D-4D31-BE2A-4C9567251162}">
      <UpgradeVersion Maximum="$(env.SQLITEVERS)" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="SQLite Tools" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="Cad32675d827f4b61ac5f34cc79cf47d6" Guid="*" Directory="INSTALLDIR" Win64="yes">
        <File Id="F1b70cfb98ce142359f885e4e783b45f0" KeyPath="yes" Source="$(env.SOURCEDIR)\sqldiff.exe" />
      </Component>
      <Component Id="C2b33f7ea030c45c1beba8c1ec653496c" Guid="*" Directory="INSTALLDIR" Win64="yes">
        <File Id="F9d53805564f84ba48b7dd32a196987ac" KeyPath="yes" Source="$(env.SOURCEDIR)\sqlite3.exe" />
      </Component>
      <Component Id="C4614a308ea7a47979eef20c93733155a" Guid="*" Directory="INSTALLDIR" Win64="yes">
        <File Id="Ff65f5c408ddc4f72bec0a4a619fcedee" KeyPath="yes" Source="$(env.SOURCEDIR)\sqlite3_analyzer.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>